config_section = "default"
group_name         = "" // your Akamai Group Name
product_id         = "prd_Fresca"
contract_id        = "" // your Akamai Contract ID
property_name  = "site-a"
cname_from     = "site-a-www.example.com"
cname_to       = "site-a.example.com.edgesuite.net"
